@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;700&family=Pacifico&display=swap');

body {
  font-family: 'Fredoka', sans-serif;
}

.title-font {
  font-family: 'Pacifico', cursive;
}
